<!-- <div class="row">
  <%= button_to "Start", publisher_path(local_assigns), remote: false, method: publisher_method(local_assigns), id: 'start-publish', data: { disable_with: "Starting..." }, form: { class: (local_assigns[:publisher].try(:current_step).nil? ? '' : 'js-hide-me') } %>
</div> -->
