<div class="alpha three columns">
  <%= button_to "Start", publisher_path(local_assigns), remote: true, method: publisher_method(local_assigns), id: 'start-publish', data: { disable_with: "Starting..." }, form___: { class: (local_assigns[:publisher].try(:current_step).nil? ? '' : 'js-hide-me') } %>
</div>
