/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/
.error-text {
  text-align: center;
  font-size: 120%;
  color: #D11717;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.publish-step {
  border: 2px solid #C27A00;
  border-radius: 10px;
  
  margin: 10px;
  box-shadow: 2px 2px 2px black;

  background-color: #9CA6B6;

  min-width: 200px;
  min-height: 200px;

  color: white;
}
.publish-step i {
  color: #6B7FB5;
  font-size: 10.2em;
}
.publish-step .progress-dots {
  display: none;
}

.publish-step.active {
  background-color: #5498DA;
}
.publish-step.active i {
  color: #4C60E9;
}

.publish-step.active .progress-dots {
  margin-top: 30px;
  margin-left: 100px;
  font-size: 300%;

  display: inherit;
}

.publish-step .publish-content {
  margin-top: -170px;
  margin-left: 60px;

  font-weight: bold;
  font-size: 200%;
}

#start-publish,#finish-publish {
  font-size: 300%;
}